<ul class="nav nav-tabs">
	<li data-ng-class="{active: sectionName === 'overview'}"><a href="#!/projects/{{project.id}}">Overview</a></li>
	<li data-ng-class="{active: sectionName === 'activity'}"><a href="#!/projects/{{project.id}}/activity">Activity</a></li>
	<li data-ng-class="{active: sectionName === 'roadmap'}"><a href="#!/projects/{{project.id}}/roadmap">Roadmap</a></li>
	<li data-ng-class="{active: sectionName === 'issues'}"><a href="#!/projects/{{project.id}}/issues">Issues</a></li>
	<li data-ng-class="{active: sectionName === 'create'}"><a href="#!/projects/{{project.id}}/issues/create">New issue</a></li>
	<li data-ng-class="{active: sectionName === 'settings'}"><a href="#!/projects/{{project.id}}/settings">Settings</a></li>
</ul>