<ul class="nav nav-tabs">
	<li data-ng-class="{active: sectionName === 'overview'}"><a href="#!/projects/{{project.identifier}}">Overview</a></li>
	<li data-ng-class="{active: sectionName === 'activity'}"><a href="#!/projects/{{project.identifier}}/activity">Activity</a></li>
	<li data-ng-class="{active: sectionName === 'roadmap'}"><a href="#!/projects/{{project.identifier}}/roadmap">Roadmap</a></li>
	<li data-ng-class="{active: sectionName === 'issues'}"><a href="#!/projects/{{project.identifier}}/issues">Issues</a></li>
	<li data-ng-class="{active: sectionName === 'create'}"><a href="#!/projects/{{project.identifier}}/issues/create">New issue</a></li>
	<li data-ng-class="{active: sectionName === 'settings'}"><a href="#!/projects/{{project.identifier}}/settings">Settings</a></li>
</ul>