<ng-include src="'partials/projects/_menu.html'" ng-init="sectionName = 'issues'"></ng-include>

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th class="text-center">#</th>
				<th class="text-center">Tracker</th>
				<th class="text-center">Status</th>
				<th class="text-center">Priority</th>
				<th class="text-center">Subject</th>
				<th class="text-center">Assignee</th>
				<th class="text-center">Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="issue in issues.entries">
				<td class=""><input type="checkbox"></td>
				<td><a href="#!/projects/{{project.identifier}}/issues/{{issue.id}}">{{ issue.id }}</a></td>
				<td>{{ issue.tracker.name }}</td>
				<td>{{ issue.status.name }}</td>
				<td>{{ issue.priority.name }}</td>
				<td><a href="#!/projects/{{project.identifier}}/issues/{{issue.id}}">{{ issue.subject }}</a></td>
				<td>{{ issue.assigned_to.name }}</td>
				<td>{{ issue.updated_on }}</td>
			</tr>
		</tbody>
	</table>
</div>